<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.pingyun.pojo"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="url" value="jdbc:mysql://192.168.89.135:3306/test"/>
                <property name="username" value="root"/>
                <property name="password" value="root123456"/>
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="com.pingyun.mapper"/>
    </mappers>
</configuration>